<div class="user-panel" fxLayout="column" fxLayoutAlign="center center">
    <img class="user-panel-avatar" [src]="usuario.img | imagen" alt="avatar" width="64" />
    <h4 class="user-panel-name">{{usuario.nombre}}</h4>
    <h5 class="user-panel-email">{{usuario.email}}</h5>
    <div class="user-panel-icons">
        <a routerLink="/profile" mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </a>
        <a (click)="_usuarioService.logout()" mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </a>
    </div>
</div>